/*RESPONSIVIDADE para celulares*/

/*Barra do menu*/
@media screen and (max-width: 740px) {
    nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    .main__content h1 {
        text-align: justify;
        line-height: 150%;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 4vw;

    }

    .main__content .text2 .h1 {
        line-height: 150%;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 4vw;

    }

    .main__content p {
        text-align: justify;
        line-height: 150%;
        font-size: 3vw;

    }

    .main__content .social .button2 {
        display: inline-flexbox;
        float: none;
        text-align: center;
        width: 20%;
        padding: 2px, 0, 0, 0;
    }

    .offer__list-item {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .project-container {
        display: flex;
        width: fit-content;
        
    }


    .cards {
        width: 14rem;
        /* 220px para rem */
        height: 9.5rem;
        /* 200px para rem */

    }

    .cards span {
        font-size: 1rem;
        /* 24px para rem */

    }

    /*Imagem interna do projeto*/
    .offer__list-item img {
        width: 230px;

    }

}


/*Posição da Imagem*/
@media screen and (max-width:768px) {
    section {
        width: 100%;
        padding: 0;
    }

    .flex {
        flex-direction: column-reverse;
    }

}

/*FIM responsividade*/